.container {
    margin-top: 100px;
}

img{

    width: 80px;
    height: 300px;
    object-fit: contain;
}

.col-md-7 {
    color: #555;
}

.price-text{
    color: green;
    font-size: 14px;
    font-weight: bold;
}

.price{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
}

.cart{
    background-color: #615a51;
    color: #FFF;
    font-size: 15px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.wishlist{
    background-color: #28a118;
    color: #FFF;
    font-size: 15px;
    margin-left: 60px;
}