<form [formGroup]="resetPassword" (ngSubmit)="resetPass()">
  <h3>Reset Password</h3>
<p class="text-center">
  Please enter your email address to request a password reset.
</p>
  <div class="formGroup">
    <input
      type="email"
      class="formControl"
      placeholder="Email Address"
      formControlName="email"
      autocomplete="off"
      [class.is-invalid]="
        resetPassword.get('email').invalid && resetPassword.get('email').touched
      "
    />
    <span
      class="text-danger"
      *ngIf="
        resetPassword.get('email').invalid && resetPassword.get('email').touched
      "
      >Please enter valid email!</span
    >
  </div>
  <div class="formGroup">
    <button class="logButton" type="submit">Reset</button>
  </div>
  <div class="redirectToLogin">
    <span
      >Go back to ?
      <button class="logButton" (click)="login()">Log In</button></span
    >
  </div>
</form>

